@import './base.css';
@import 'tailwindcss';

html,
body,
#app {
  min-height: 100%;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-y: auto;
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 137, 179);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(219, 100%, 68%, 0.253);
  }
}

#app {
  display: flex;
  height: 100%;
  flex-direction: column;
  place-items: center;
  min-height: 100vh;
  overflow-y: auto;
  width: 100%;
}

